{{page-title "my-app"}}

<div >
    <main >
        {{navbar}}
        <div class="d-flex align-items-center justify-content-center"  style="min-height: 100vh;">
            {{outlet}}
        </div>
        
    </main>
</div>